<%= simple_form_for(@cach) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :server %>
    <%= f.association :location %>
    <%= f.input :secured %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
