<%= simple_form_for(@user_cach) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user %>
    <%= f.hidden_field :cach %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
