<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @location.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @location.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @location.z %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
